{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "testing-library",
        "plugin:react-hooks/recommended",
        "plugin:testing-library/react",
        "plugin:testing-library/dom"
    ],
    "rules": {},
    "overrides": [
        {
            // 3) Now we enable eslint-plugin-testing-library rules or preset only for matching files!
            "files": [
                "**/__tests__/**/*.[jt]s?(x)",
                "**/?(*.)+(spec|test).[jt]s?(x)"
            ],
            "extends": [
                "plugin:testing-library/react"
            ]
        }
    ]
}